<h2>New Book</h2>


<%= form_with model: @book, url: '/books', method: :post do |f| %>
<div class="field">
  <%= f.label :book_title, "Title" %>
  <%= f.text_field :title %>
</div>

<div class="field">
  <%= f.label :book_body, "Body" %>
  <%= f.text_area :body %>
</div>

<div class="actions">
  <%= f.submit 'Create book' %>
</div>
<% end %>
